@import "tailwindcss";

@theme {
  --color-bg: #030816;
  --color-card: #0a1128;
  --color-accent: #00f0ff;
  --color-text: #e2f1ff;
  --color-muted: #849ebd;
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@utility preserve-3d {
  transform-style: preserve-3d;
}
@utility backface-hidden {
  backface-visibility: hidden;
}
@utility perspective-1200 {
  perspective: 1200px;
}
